{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
{% include "flash_message.html" %}

  <div class="row content border-between">
    <!-- First column to display Logged In User Info -->
    <div class="col-sm-2 sidenav text-center">
      {% if 'username' in login_session %}
        <h3>Hi {{login_session['username']}}!</h3>
        <img src="{{login_session['picture']}}" style = "width: 100px; height: 100px;border-radius: 50px;-webkit-border-radius: 50px;-moz-border-radius: 50px;">
      {% endif %}
    </div>

    <!-- Second and Third column to display Category Item and Item Description -->
    <div class="col-sm-8 sidenav text-left" style="background-color: white; overflow: auto">
      {% if 'username' in login_session %}
      {% endif %}
      <h3 class="c-orange">
        <a href='{{ url_for('showCatalog') }}' class="c-orange"><b>Show All Categories</b></a>
      </h3>
      <h3 class="c-orange">
        <a href='{{ url_for('showItems', category_id = item.category.id) }}' class="c-orange"><b>{{item.category.name}} (Category)</b></a>
      </h3>
      <br>
      <h4 class="c-blue"><b>{{item.title}} (Item)</b></h4>
      <p class="c-blue">Description: {{item.description}}</p>
      {% if 'username' in login_session %}
        {% if login_session['user_id'] == item.user_id  %}
          <strong class="c-orange">
            <a href='{{ url_for('editItem', category_id = item.category.id, item_id = item.id) }}' class="c-orange">Edit</a>
            &nbsp;|&nbsp;
            <a href='{{ url_for('deleteItem', category_id = item.category.id, item_id = item.id) }}' class="c-orange">Delete</a>
          </strong>
        {% endif %}
      {% endif %}
      <br>
    </div>

    <!-- Fourth column to display User Info who added the Category -->
    <div class="col-sm-2 sidenav text-center">
      {% if 'username' in login_session %}
        <h3>Category by {{item.user.name}}!</h3>
        <img src="{{item.user.picture}}" style = "width: 100px; height: 100px;border-radius: 50px;-webkit-border-radius: 50px;-moz-border-radius: 50px;">
      {% endif %}
    </div>

  </div>

{% include "footer.html" %}

{% endblock %}